[submodule "NSL-Spindle-Vehicle"]
	path = Vehicle
	url = git@github.com:wkronmiller/NSL-Spindle-Vehicle.git
[submodule "NSL-Spindle-Spark"]
	path = Spark
	url = git@github.com:wkronmiller/NSL-Spindle-Spark.git
[submodule "NSL-Spindle-CSV-Parser"]
	path = CSV-Parser
	url = git@github.com:wkronmiller/NSL-Loader-CPP.git
